<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <h2>Medicos pendientes </h2>

    <div th:if="${#lists.isEmpty(medicoList)}">
        <p>No hay médicos pendientes</p>
    </div>
    <table th:unless="${#lists.isEmpty(medicoList)}">
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="medico : ${medicoList}">
            <td th:text="${medico.fullName}"></td>
            <td th:text="${medico.especialidad}"></td>
            <td>
                <form th:action="@{/admin/approve/{id}(id=${medico.userId})}" method="post">
                    <button type="submit">Aprobar</button>
                </form>
            </td>
        </tr>
    </table>

</section>

</html>