<header th:fragment="nav">
    <div class="logo-titulo">
        <a th:href="@{/}">
        </a>
        <h1>Medical Appointments</h1>
    </div>
        <div class="contact">+506 5467 0937</div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Inicio</a> </li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li th:if="${session.usuario != null}">
                    <a href="#">Hola, <span th:text="${session.usuario.username}">Usuario</span></a>
                </li>
                <li th:if="${session.usuario != null}"><a th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
        </nav>
</header>
