<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="logo">Medical Appointments</div>
    <div class="contact">+506 5467 0937</div>
    <nav>
      <ul>
        <li><a href="">Inicio</a> </li>
        <li><a href="about.html">About</a></li>
        <li><a href="search.html">Search</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <h2>Noticias recientes</h2>
    <p>Últimas novedades</p>
  </section>

  <footer>
    <div>Total Soft Inc.</div>
    <div class="logosRedes">Medical Appointments</div>
    <h6><span>&copy</span>2019 Tsf Inc</h6>
  </footer>
</body>
</html>