<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<section layout:fragment="content">
    <div class="container">
        <div class="login-box">
            <div class="container2">
                <h2>Login</h2>
            </div>
            <form th:action="@{/login}" method="post">
                <input type="text" id="userName" name="userName" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="User password" required>
                <input type="submit" value="Entrar">
            </form>
            <div class="container3">
                <h4>Don´t have an account?</h4>
                <a th:href="@{/registrarUsuario}">Registrar Usuario</a>
                <a th:href="@{/registrarMedico}">Registrar Medico</a>
            </div>
        </div>
    </div>
</section>
</html>