<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">Medical Appointments</div>
        <div class="contact">+506 5467 0937</div>
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="search.html">Search</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>